/* reset */
*{
    margin: 0%;
    box-sizing: border-box;
}

/* HEADER */
header{
    background-color: #418ecc;
    background-image: url(../img/pattern.png); 
    background-repeat: repeat;
}
    

.logo{
    height: 50px;
    text-align: left;
    margin-top: 50px;
}

h4{
    font-size: medium;
    color: lightgrey;
}

.Booleaner{
    color: #418ecc;
}

.highlighter{
    background-color: yellow;
}

/* elenco puntato */

ul{
    padding-left: 2%;
}

/* tabella */

table{
    text-align: center;
    border-spacing: 0ch;
}
.item-thead{
    background-color: #51a6e0;
    color: white;
    
}

.item-tbody{
    background-color: #bce3f0;
    
}

/* FOOTER */

footer{
    
}
.monitor{
    background-image: url(../img/monitor.jpg);
    width: 250px;
    height: 150px;
    color: white;
    text-align: center;
    font-size: medium;
    margin-bottom: 10px;
} 

.graph{
    background-image: url(../img/graph.jpg);
    width: 250px;
    height: 150px;
    color: white;
    text-align: center;
    font-size: medium;
} 


