/* reset */
*{
    margin: 0%;
    box-sizing: border-box;
}

/* HEADER */
header{
    background-color: #418ecc;
    background-image: url(../img/pattern.png); 
    background-size: 30%;
}
    

.logo{
    height: 50px;
    text-align: left;
    margin-top: 50px;
}

.smallfont{
    font-size: 12px;
    font-style: italic;
}

/* COMMON */

.container{
    width: 95%;
    margin: auto;
}

h1{
    margin-top: 10px;
}

h4{
    font-size: medium;
    color: lightgrey;
}

.Booleaner{
    color: #418ecc;
}

.highlighter{
    background-color: yellow;
}

/* elenco puntato */

ul{
    padding-left: 2%;
}

/* tabella */

table{
    text-align: left;
    border-spacing: 0ch;
}

td{
    width: 5%;
}
.item-thead{
    background-color: #51a6e0;
    color: white;
    font-size: 20px;
    
}

.item-tbody{
    background-color: #bce3f0;
    
}

/* FOOTER */

.monitor{
    background-image: url(../img/monitor.jpg);
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 150px;
    color: white;
    text-align: center;
    font-size: medium;
    margin-bottom: 10px;
} 

.graph{
    background-image: url(../img/graph.jpg);
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 150px;
    color: white;
    text-align: center;
    font-size: medium;
} 


